.card-login {
	background-color: white;
	width: 300px;
	height: 300px;
	margin-top: 190px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.banner {
	text-align: center;
}


#modalLogin {
	width: 300px;
	height: 300px;
	padding: 50px;
}

.modal, #deletarModal, #deletarModalProduto {
	width: 190px;
	height: 150px;
}

 #venderProduto {
 	width: 220px;
 	height: 180px;
 }

.painel {
	margin: 50px;
}

